.review-slider .slick-prev:before,
.review-slider .slick-next:before {
  color: rgb(71, 71, 71);
}

.review-slider .slick-prev{
    transform: scale(1.3);
    margin-left: -1rem !important;
}

.review-slider .slick-next{
    transform: scale(1.3);
}

.review-slider .slick-prev.slick-disabled:before, .slick-next.slick-disabled:before{
    opacity: 0.3 !important;
}

.review-slider .slick-slide > div {
  margin: 0 20px;
}
.review-slider .slick-list {
  margin: 0 -20px;
}

.review__grid{
  background: #FAFAFA;
  padding: 15px;
  border-radius: 5px;
}

@media only screen and (max-width: 500px) {
  .review-slider .slick-slide > div {
    margin: 0 5px;
  }
  .review-slider .slick-list {
    margin: 0 -5px;
  }
}
